
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to myapp.com, <%= @member.name %></h1>
    <p>
      Your email has been sent, we will contact you as soon as possible.
    </p>
    <p>Have a great day!</p>
  </body>
</html>